body {
    display:flex;
    flex-direction: column;
    text-align: center;
    
}
main {
    margin: auto;
}
.palavra {
    display:flex;
    justify-content: center;    
    align-items: center;
}
.letras {
    margin:5px;
}
.letra {
    width:12px;
}
input[type="text"] {
    padding-left: 5px;
}
 #forca {
    width: 400px;
    height: 400px;
    background-color: rgba(18, 211, 211, 0.2);
 }
.cabeça, .tronco, .braço_esquerdo, .braço_direito, .perna_esquerda, .perna_direita  {
    display: none;
}
