body {
    display:flex;
    flex-direction: column;
    text-align: center;
}
main {
    margin: auto;
}
.palavra {
    display:flex;
    justify-content: center;    
    align-items: center;
}
.letras {
    margin:5px;
}
.letra {
    width:12px;
}
input[type="text"] {
    padding-left: 5px;
}
 #forca {
    width: 400px;
    height: 400px;
    background-color: aqua;
    opacity: 0.2 ;
 }
 